@keyframes myAnimate{
    0%{
        /* border-radius: 50%; */
        background-color: rgb(255, 102, 0);
        /* transform: scale(1.4, 1.4); */
        /* margin-top: 10px; */
        height: 0;
        overflow: hidden;
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
    }

    100%{
        background-color: #daa520;
        border-radius: none;
        height: 90px;
        overflow: hidden;
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
    }
}

@keyframes myAnimate_small{
    0%{
        /* border-radius: 50%; */
        /* background-color: rgb(255, 102, 0); */
        /* transform: scale(1.4, 1.4); */
        /* margin-top: 10px; */
        height: 0;
        overflow: hidden;
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
    }

    100%{
        /* background-color: #daa520; */
        border-radius: none;
        height: 90px;
        overflow: hidden;
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
    }
}