@keyframes myAnimate{
    0%{
        background-color: rgb(255, 102, 0);
        height: 0;
        overflow: hidden;
    }

    100%{
        background-color: #daa520;
        border-radius: none;
        height: 90px;
        overflow: hidden;
    }
}

@keyframes myAnimate_small{
    0%{
        height: 0;
        overflow: hidden;
    }

    100%{
        border-radius: none;
        height: 90px;
        overflow: hidden;
    }
}