*{
    margin: 0;
    padding: 0;
    border: none;
}

@font-face{
    font-family: 'BNazanin';
    src: url(../fonts/BNazanin.eot);
    src: url(../fonts/BNazanin.ttf);
    src: url(../fonts/BNazanin.woff);
}

@keyframes myanimate{
    0%{
        /* border-radius: 50%; */
        background-color: rgb(255, 102, 0);
        /* transform: scale(1.4, 1.4); */
        /* margin-top: 10px; */
        height: 0;
        overflow: hidden;
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
    }

    100%{
        background-color: #daa520;
        border-radius: none;
        height: 90px;
        overflow: hidden;
        /* display: flex;
        flex-wrap: wrap;
        flex-direction: column; */
    }
}

.myanimate{
    animation-name: myanimate;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.container{
    width: 100%;
    min-height: 1200px;
    background-color: rgba(0, 100, 0, 0.7);
}

.menu{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    background-color: goldenrod;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    position: fixed;
}

.menu>.icon{
    display: flex;    
    justify-content: center;
    align-items: center;
}

.menu>section.icon>img{
    width: 47.2px;
    height: 47.2px;
    /* color: aqua !important; */
}

.menu>section.icon>a{
    margin-left: 10px;
    font-family: BNazanin;
    font-size: 30px;
    color: #000085;
    text-shadow: 2px 2px 2px whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    /* padding-bottom: 4px; */
    box-sizing: border-box;
    
}

.menu>nav>ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    /* justify-content: center; */
}

.menu>nav>ul>li{
    /* position: relative; */
    margin-left: 15px;
    height: 47.2px;
    /* line-height: 50px; */
    position: relative;
    /* width: 160px; */
    text-align: center;
}

.menu>nav>ul>li>ul{
    display: none;
    position: absolute;
    right: 0;
    width: 120px;
    list-style: none;
    text-align: center;
    border-top: 2px inset black;
    border-bottom: 2px inset black;
    transition: all 0.4s linear;
    background-color: #daa520;
}

.menu>nav>ul>li>ul>li.li_subMenu{
    height: 30px;
    margin-bottom: 0;
}

.menu>nav>ul>li>ul>li.li_subMenu>a{
    line-height: 30px;
}

.menu>nav>ul>li:hover>ul{
    display: block;
    /* flex-flow: wrap column; */
    /* width: 200px;  */
    /* margin-top: 7px; */
    animation-name: myanimate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.menu>nav>ul>li a{
    font-family: BNazanin;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(4, 4, 124);
    line-height: 47.2px;
    transition: all 0.4s ease;
}

.menu>nav>ul>li>ul>li.li_subMenu:hover{
    background-color: #f0f8ff;
    border-radius: 5px;
}

.menu>nav>ul>li a:hover{
    color: #AD0000;
}